/* styles.css */

body {
    margin: 0;
}

.container {
    color: white;
    background-color: #1F2937;
    flex: auto;
    width: 100%;
    height: 60vh;
}

.logo {
    height: 75px;
    width: 75px;
    padding: 0px;
    display: inline;
    margin-left: 30px;
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    justify-content: right;
    margin-left: 100px;
    margin-right: ;
    width: 0px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

h1 {
    font-size: 24px;
    margin-top: -50px;
    margin-left: 120px;
}

.link {
    display: flex;
    margin-left: 75%;
    margin-top: -110px;
    padding: ;
}

.awesome {
    flex: auto;
    margin-top: 200px;
    margin-left: 300px;
    border: 0;
}

welcome h1 {
    font-size: 48px;
    font-weight: 900;
}

welcome p {
    font-size: 18px;
    margin-left: 125px;
    margin-top: -30px;
}

.image1 {
    width: 600px;
    margin-left: 650px;
    margin-top: -200px;   
}

.signup1 {
    padding: 12px;
    width: 200px;
    font-size: 24px;
    background-color: #3882F6;
    color: white;
    border: 0;
    outline: none;
    border-radius: 40px;
    margin-left: 230px;
}

.info {
    justify-content: center;
    align-items: center;
    margin-left: 43%;
}

.card-wrapper {
    
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.card-text {
    text-align: center;
    margin-top: -15px;
}

.quote-wrapper {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 400px;
    padding-right: 400px;
    
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-weight: 900;
    align-self: flex-end;
}